---
- block:
  - name: "[Inbound] Allow 6443 port for Kubernetes API server"
    ansible.builtin.iptables:
      chain: INPUT
      protocol: tcp
      destination_port: "6443"
      jump: ACCEPT

  - name: "[Inbound] etcd server client API"
    ansible.builtin.iptables:
      chain: INPUT
      protocol: tcp
      destination_port: "2379:2380"
      jump: ACCEPT

  - name: "[Inbound] Kubelet API"
    ansible.builtin.iptables:
      chain: INPUT
      protocol: tcp
      destination_port: "10250"
      jump: ACCEPT

  - name: "[Inbound] kube-scheduler"
    ansible.builtin.iptables:
      chain: INPUT
      protocol: tcp
      destination_port: "10259"
      jump: ACCEPT

  - name: "[Inbound] kube-controller-manager"
    ansible.builtin.iptables:
      chain: INPUT
      protocol: tcp
      destination_port: "10257"
      jump: ACCEPT

