---
- block:
  - ansible.builtin.include_role: 
      name: install-packages
    loop:
      - "{{ DEFAULTS_PACKAGES | flatten(1) }}"
    loop_control:
      loop_var: PACKAGES_LIST
    tags: install-basetools