---
- block:
  - name: "Download portable binary from Github - jq"
    ansible.builtin.get_url:
      url: https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64
      dest: /usr/local/bin/jq
      mode: '0755'
    tags: jq

- block:
  - name: "Download portable binary from Github - yq"
    ansible.builtin.get_url:
      url: https://github.com/mikefarah/yq/releases/download/v4.33.3/yq_linux_amd64
      dest: /usr/local/bin/yq
      mode: '0755'
    tags: yq

- block:
  - name: "Download portable binary from Github - envsubst"
    ansible.builtin.get_url:
      url: https://github.com/a8m/envsubst/releases/download/v1.4.2/envsubst-Linux-x86_64
      dest: /usr/local/bin/yq
      mode: '0755'
    tags: envsubst