---
CONTAINERD_RELEASE_VERSION: 1.7.2
RUNC_RELEASE_VERSION: 1.1.7
CNI_RELEASE_VERSION: 1.3.0

USR:
  LOCAL:
    BIN: /usr/local/bin

CNI:
  CONF:
    DIR: /etc/containerd
  BIN:
    CONTAINERD: /opt/containerd/{{ CONTAINERD_RELEASE_VERSION }}/bin
    RUNC: /opt/runc/{{ RUNC_RELEASE_VERSION }}/bin
    PLUGIN: /opt/cni/{{ CNI_RELEASE_VERSION }}/bin

CONTAINERD_PREREQUISITE_PACKAGES:
  - iptables
  - libseccomp-dev